@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
  }

  body {
    background-color: #F5F4F0;
    @apply text-slate-900;
  }
}
